table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

img {
  width: 80px;
  height: 80px;
}

button {
  margin: 30px;
}

.query-layout {
  max-width: 800px;
  margin: auto;
}
