.username {
  border-bottom: 3px outset grey;
}

.subscription {
  margin-top: 20px;
  border-bottom: 2px outset grey;
}

.query {
  margin-top: 20px;
  border-bottom: 2px outset grey;
}

.logout{
  margin-top: 20px;
}
.main-layout{

  max-width: 1000px;
  margin: auto;
}
